

.img-fluid {
    width: 350px;
    height: 350px;
}



body {
  background-image: url(images/sudann.jpg);
}


footer {
    position: absolute;
    font: black;
}

p {
    font-size: 25px;
}

.fa-instagram {
    background: #125688;
    color: white;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}


.fa-linkedin {
    background: #007bb5;
    color: white;
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa-github {
    background: #007bb5;
    color: white;
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}