

.img-fluid {
    width: 350px;
    height: 350px;
}





footer {
    color: black;
    position: fixed;
}

p {
    font-size: 25px;
}

.fa-instagram {
    background: #125688;
    color: white;
    padding: 20px;
   
}


.fa-linkedin {
    background: #007bb5;
    color: white;
    padding: 20px;

    
}

.fa-github {
    background: #007bb5;
    color: white;
    padding: 20px;
  
}

#my-icons {
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.904);
    padding: 10px 0;
    position: fixed; bottom:
}


h4 {
    text-align: center;
    float: left;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center
  }
  
  img {
    max-width: 100%
    
  }
  
  .image {
    width: 60%;
    flex-basis: 40%
  }
  
  .text {
    font-size: 20px;
    padding-left: 20px;
    font-family: italic;
  }