

.img-fluid {
    width: 350px;
    height: 350px;
}



body {
  background-image: url(images/sudann.jpg);
}


footer {
    position: absolute;
    font: black;
}

p {
    font-size: 25px;
}

.fa-instagram {
    background: #125688;
    color: white;
    padding: 20px;
   
}


.fa-linkedin {
    background: #007bb5;
    color: white;
    padding: 20px;

    
}

.fa-github {
    background: #007bb5;
    color: white;
    padding: 20px;
  
}

#my-icons {
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 0;
}