img {
  width: 250px;
  height: 250px;
}


#name {
  margin: auto;
  width: 60%;
  /* border: 5px solid #FFFF00; */
  padding: 10px;
  text-align: center;
  margin-top: 100px;
}

.topContainer {
height: fit-content;
/* padding: 30px; */
text-align: center
}



@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');


#job {
  border-right: solid 3px rgba(0,255,0,.75);
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
}



/* Animation */
#job {
  animation: animated-text 4s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 500px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(0,255,0,.75);}
  to{border-right-color: transparent;}
}