
.navbar {
	padding-top: 15px;
	padding-bottom: 15px;
	border: 0;
	border-radius: 0;
	margin-bottom: 0;
	font-size: 12px;
	letter-spacing: 5px;
}
.navbar-nav  li a:hover {
	color: #1abc9c !important;
}

#navstyle {
	font-size: 40px;
	color: blue;

}

#big {
	font-size: 35px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}