#center {
  text-align: center;
  font-size: larger;
}

#soonImg {
background-image: url("../images/sky.png");
height: 500px;
}

.container-fluid {
  background-image: url("../images/sky.png");
  background-size: cover;
  height: 500px;
}

img {
  height: 500px;
}