p {
  color: black;
}

h4 {
  color: black;
}

h1 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#pokemon{
  background-color: rgb(248, 144, 144);
  text-align: center;
  width: auto;
}


#planner {
  text-align: center;
  background-color: rgb(154, 179, 255);
}

#password {
  text-align: center;
  background-color: rgb(255, 175, 117);
}

#employee {
  text-align: center;
  background-color: rgb(194, 194, 194);
}
#simon {
  text-align: center;
  background-color: rgb(255, 228, 74);
}
#lizzy {
  text-align: center;
  background-color: seashell;
}

#projects {
  background-color: rgb(72, 2, 138);
}